<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login ion-padding ion-text-center">
  <ion-img
    src="assets/images/login.jpg"
    alt="logo" class="foto"></ion-img>

  <form [formGroup]="form" (submit)="send()" errorTailor>
    <ion-item>

      <ion-label for="email" position="floating">Correo</ion-label>
      <ion-input class="caja" type="text" id="email" formControlName="email" [(ngModel)]="modeloCorreo"></ion-input>
      
    </ion-item>

    <ion-item>

      <ion-label for="password" position="floating">Contraseña</ion-label>
      <ion-input class="caja" type="password" formControlName="password" id="password" [(ngModel)]="modeloPassword"></ion-input>
    </ion-item>
      
    <ion-button class="boton" type="submit" (click)="validarCredenciales()" [routerLink]="['/cuenta']">Ingresar</ion-button>
  </form>


  <ion-button class="boton" ion-button [routerLink]="['/restablecer']">Recuperar Contraseña</ion-button>

  <ion-button class="boton" (click)="mostrarFormulario()">Nuevo Usuario</ion-button>
</ion-content>